/*Arthur Silles Fernandes*/
/*TiketoExpress' index-stylesheet.css*/

/*GENERAL*/
    * body {
        background-color: rgb(245, 245, 245);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        font-family: Roboto;
        color: rgb(131, 131, 131);
        font-size: 1.2vw;
    }

    a {
        text-decoration: none;
        color: rgb(131, 131, 131);
        font-size: 1.2vw;
    }

/*STYLE index.html*/
    .page-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 5vw 5vw 5vw auto 3vw auto;
        text-align: center;
    }

/*PLACES*/
    .places-grid {
        display: grid;
        grid-template-columns: auto 25.4vw 3vw 25.4vw 3vw 25.4vw auto;
        grid-template-rows: 21vw 21vw 21vw 21vw;
        text-align: center;
        align-items: center;
        row-gap: 3vw;
    }

    .cards-grid {
        display: grid;
        grid-template-columns: 25vw;
        grid-template-rows: 16.8vw 4vw;
        text-align: left;
        align-items: center;
        border-radius: 1.3vw;
        border: 0.2vw solid rgb(228, 228, 228);
        transition: 0.4s;
    }

    .cards-grid:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }

    .bottom-borders {
        padding: 1vw;
    }

    .cards-images {
        width: 25vw;
    }

    .title {
        font-size: 3vw;
        font-weight: bold;
    }

/*ABOUT US*/
    .about-us-grid {
        display: grid;
        grid-template-columns: auto 35vw 5vw 35vw auto;
        grid-template-rows: 20vw;
        text-align: center;
        align-items: center;
    }

    .about-us-image {
        height: 20vw;
        border-radius: 10vw 10vw 0.5vw 10vw;
    }

    .about-us-title {
        color: rgb(0, 120, 255);
        font-weight: bold;
    }

    .about-us-font-style {
        font-size: 1.25VW;
    }

    .about-us-logo {
        height: 2vw;
        vertical-align: bottom;
        transition: 1s;
    }

    .about-us-logo:hover {
        transform: scale(1.1);
        transition: 0.4s;
    }
