body{
    background-image: url('../../images/fundo.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h2_register
{
    font-size: 2.5rem;
}

.div_register
{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 30%;
    height: 65%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.178);
    top: 20%;
    z-index: -1;
    filter: blur(20px);
}

.form_register
{
    width: 40%;
    height: 70%;
    border: mediumseagreen solid 2px ;
    display: grid; 
    grid-template-areas: "name email"
                         "password passConf"
                         "cpf cpf"
                         "btn btn";
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.divInput_register
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCpf_register
{
    width:200%;
}

.input_register
{
    height: 8vh;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: mediumseagreen solid 2px;
    border-radius: 45px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.name_register { 
    grid-area: name; 
}

.mail_register { 
    grid-area: email; 
}

.pswd_register { 
    grid-area: password; 
}

.pswdConf_register { 
    grid-area: passConf; 
}

.cpf_register { 
    grid-area: cpf; 
    
}

.btn_register 
{ 
    grid-area: btn; 
    height: 8vh;
    width: 10vw;
    justify-self: center;
    align-self: center;
    border: mediumseagreen solid 2px;
    border-radius: 10px;
    transition: all 1.5s ;
}

.btn_register:hover
{
    background-color: #33343a;
    border-radius: 45px;
    color: white;
    transition: all 1.5s ;
}

h4
{
    text-align: center;
}

.link
{
    color: blue;
}

@media screen and (max-width: 900px){
    
    .form_register
    {
        width: 50%;
        height: 75%;
    }
    
    .btn_register
    {
        width: 15vw;
    } 
}

@media screen and (max-width: 600px){

    .form_register
    {
        width: 70%;
        height: 75%;
    }
    
    .btn_register
    {
        width: 20vw;
    } 
}

@media screen and (max-width: 400px){

    .form_register
    {
        grid-template-areas: "name"
                             "email"
                             "password"
                             "passConf"
                             "cpf"
                             "btn";
    }
    
    .divCpf_register
{
    width:100%;
}
}